services:
  websocket:
    image: node:lts-jod
    container_name: websocket
    working_dir: /usr/src/websocket-server
    environment:
      - MODE=${MODE}
    ports:
      - "${PORT_WEBSOCKET}:8080"
    volumes:
      - ./websocket:/usr/src/websocket-server
    command: bash -c "
      npm install --production &&
      npm start"
  frontend:
    image: node:lts-jod
    container_name: frontend
    working_dir: /var/www
    environment:
      - MODE=${MODE}
    ports:
      - "${PORT_FRONTEND}:5173"
    volumes:
      - ./chess:/var/www
    command: bash -c "
      npm install &&
      npm run dev"